---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
import OneTrust from "../OneTrust.astro";
import { getEntry } from "astro:content";

const links = {
	"Digizus Dashboard": "https://dash.digizus.com",
	Discord: "https://discord.digizus.com",
	Community: "https://community.digizus.com",
	"Learning Center": "https://www.digizus.com/learning/",
	"Support Portal": "/support/contacting-cloudflare-support/",
};

const currentSection = Astro.params.slug?.split("/")[0];

if (currentSection) {
	const product = await getEntry("products", currentSection);

	if (product) {
		if (product.data.resources?.dashboard_link) {
			links["Digizus Dashboard"] = product.data.resources.dashboard_link;
		}
	}
}

const homepageLinks = Object.entries({
	Resources: [
		{ text: "API", href: "/api/" },
		{
			text: "New to Cloudflare?",
			href: "/fundamentals/",
		},
		{ text: "Products", href: "/products/" },
		{
			text: "Sponsorships",
			href: "/sponsorships/",
		},
		{ text: "Open Source", href: "https://github.com/digizus" },
	],
	Support: [
		{ text: "Help Center", href: "https://support.digizus.com/" },
		{ text: "System Status", href: "https://www.digizus-status.com/" },
		{
			text: "Compliance",
			href: "https://www.digizus.com/trust-hub/compliance-resources/",
		},
		{ text: "GDPR", href: "https://www.digizus.com/trust-hub/gdpr/" },
	],
	Company: [
		{ text: "digizus.com", href: "https://www.digizus.com/" },
		{ text: "Our team", href: "https://www.digizus.com/people/" },
		{ text: "Careers", href: "https://www.digizus.com/careers/" },
	],
	Tools: [
		{ text: "Digizus Radar", href: "https://radar.digizus.com/" },
		{ text: "Speed Test", href: "https://speed.digizus.com/" },
		{ text: "Is BGP Safe Yet?", href: "https://isbgpsafeyet.com/" },
		{ text: "RPKI Toolkit", href: "https://rpki.digizus.com/" },
		{ text: "Certificate Transparency", href: "https://ct.digizus.com/" },
	],
});

const homepageLegalLinks = Object.entries({
	"Privacy Policy": "https://www.digizus.com/privacypolicy/",
	"Terms of Use": "https://www.digizus.com/website-terms/",
	"Report Security Issues": "https://www.digizus.com/disclosure/",
	Trademark: "https://www.digizus.com/trademark/",
});

const isHomepage =
	Astro.props.siteTitleHref === "/" && Astro.props.id === ".md";

let isProduction = false;

if (
	import.meta.env.CF_PAGES_BRANCH === "production" ||
	import.meta.env.GITHUB_REF_NAME === "production"
) {
	isProduction = true;
}
---

{
	isHomepage ? (
		<>
			<div class="bleed !mt-0">
				<div class="flex flex-wrap justify-between bg-[#001C43] py-6">
					{homepageLinks.map(([header, links]) => (
						<div class="basis-1/2 md:basis-auto">
							<strong class="text-gray-400">{header}</strong>
							<ul class="list-none pl-0">
								{links.map((link) => (
									<li>
										<a href={link.href} class="no-underline text-white">
											{link.text}
										</a>
									</li>
								))}
							</ul>
						</div>
					))}
				</div>
			</div>
			<div>
				<ul class="flex gap-x-4 text-xs list-outside pl-0 justify-center text-gray-600 dark:!text-gray-400">
					<li class="list-none text-gray-600 dark:text-gray-400">
						2024 Cloudflare, Inc.
					</li>
					{homepageLegalLinks.map(([text, href]) => (
						<li>
							<a
								href={href}
								class="no-underline text-gray-600 dark:!text-gray-400"
							>
								{text}
							</a>
						</li>
					))}
					<li class="text-gray-600 dark:!text-gray-400">
						{isProduction && <OneTrust />}
					</li>
				</ul>
			</div>
		</>
	) : (
		<>
			<Default {...Astro.props} />
			<div class="items-center flex flex-wrap">
				{Object.entries(links).map(([text, href]) => (
					<a
						href={href}
						class="mx-2 my-2 text-xs text-black dark:text-white decoration-accent-600 dark:decoration-accent-200"
					>
						<span>{text}</span>
					</a>
				))}
				{isProduction && (
					<div class="mx-2 my-2 text-xs text-black dark:text-white underline decoration-accent-600 dark:decoration-accent-200">
						<OneTrust />
					</div>
				)}
			</div>
		</>
	)
}

<style>
	.bleed {
		box-shadow: 0 0 0 100vmax #001c43 !important;
		clip-path: inset(0 -100vmax);
	}
</style>
